@model CartWM
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h2>Alışveriş Sepeti</h2>
    <hr />

    <div class="row-mt-5">
        <div class="col-md-8">
            <div class="text-left">
                <h3>Sepetiniz</h3>
            </div>

            @if (Model.CartItems.Count >0)
            {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Ürün Adı</th>
                        <th>Fiyat</th>
                        <th>Miktar</th>
                        <th>Toplam Tutar</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CartItems)
                    {
                        <tr>
                            <td>
                                <img src="~/images/@item.Image" width="80" />
                            </td>
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                            <td>@item.Quantity</td>
                            <td>@(item.Quantity*item.Price)</td>
                            <td>
                                <form asp-controller="Cart" asp-action="DeleteFromCart" method="post">
                                    <input type="hidden" name="productId" value="@item.ProductId" />
                                    <button type="submit" class="btn btn-danger btn-sm">X</button>
                                </form>
                            </td>
                        </tr>

                    }
                </tbody>
                <tr>
                    <td></td>
                </tr>
            </table>
            }
            else
            {
        <div class="alert alert-warning">
            Sepetinizde ürün yok!
        </div>
            }
        </div>
        <div class="col-md-4">

            <table class="table">
                <tbody>
                    <tr>
                        <th>Sepet Toplamı</th>
                        <td>@Model.TotalPrice()</td>
                    </tr>
                    <tr>
                        <th>Kargo</th>
                        <td>Ücretsiz</td>
                    </tr>
                    <tr>
                        <th>Sipariş Toplamı</th>
                        <td>@Model.TotalPrice()</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <div class="dib">
                    <a href="~/" class="send-account">
                        <i class="fa fa-arrow-circle-left"></i> Alışverişe devam et
                    </a>
                </div>
                <div class="dib">
                    <a asp-controller="Cart" asp-action="Checkout" class="send-account">
                        <i class="fa fa-arrow-circle-right"></i>Ödeme
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>