@model CategoryWM
@{
    ViewData["Title"] = "EditCategory";
}

<div class="container">
    <h2>Kategori Düzenle</h2>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Admin" asp-action="EditCategory" method="post">
                <input type="hidden" name="categoryId" value="@Model.Id" />
                <div class="form-group row">
                    <label asp-for="Name" class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Name" value="@Model.Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-10 offset-md-2">
                        <button type="submit" class="send">Kategoriyi Kaydet</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-8">
            @if (Model.Products.Count() > 0)
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Ürün Id</td>
                            <td>Ürün Resmi</td>
                            <td>Ürün Adı</td>
                            <td>Ürün Fiyatı</td>
                            <td>Seçenekler</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Products)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>
                                    <img src="~/images/@item.Image" width="80" />
                                </td>
                                <td>@item.Name</td>
                                <td>@item.Price</td>
                                <td>
                                    <a class="btn btn-primary btn-sm mr-2 btn-dark" href="~/admin/products/@item.Id">Düzenle</a>
                                    <form action="/admin/deletefromcategory" method="post" style="display:inline;">
                                        <input type="hidden" name="productId" value="@item.Id" />
                                        <input type="hidden" name="categoryId" value="@Model.Id" />
                                        <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                                    </form>

                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-warning">
                    <h4>Ürün Yok</h4>
                </div>
            }
        </div>
    </div>
</div>



